[Unit]
Description=CRL Daemon Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/myapp/app
Environment="PATH=/opt/myapp/venv/bin"
ExecStart=/opt/myapp/venv/bin/python3 /opt/myapp/app/crl_daemon.py
Restart=no
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=crl_daemon

[Install]
WantedBy=multi-user.target